# Eonix OS — Preseed Configuration
# Locale + partition layout.

d-i debian-installer/locale string en_US.UTF-8
d-i localechooser/supported-locales multiselect en_US.UTF-8

d-i partman-auto/method string regular
d-i partman-auto/expert_recipe string \
  eonix-layout ::                      \
    300 300 300 ext4                    \
      $primary{ } $bootable{ }         \
      mountpoint{ /boot } .            \
    8000 8000 8000 ext4                \
      $primary{ }                      \
      mountpoint{ / } .                \
    2000 2000 2000 linux-swap          \
      $primary{ }                      \
      method{ swap } format{ } .       \
    1000 10000 -1 ext4                 \
      $primary{ }                      \
      mountpoint{ /home } .

d-i partman-auto/choose_recipe select eonix-layout
d-i partman/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true
